# Ignore __pycache__ folders
__pycache__/

# Ignore specific directories
data/
myenv/
build/
Notebook/

# Ignore specific subdirectories
ResearchBot/__pycache__/
ResearchBot.egg-info/

# Ignore environment files
*.env
